
.H_Topic{
    text-align: center;
    font-size: 80px;
    font-weight: 1000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.H_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: #f5f2f2;
}

.H_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    
}

.H_container .H_box1 {
    position: relative;
    width: 600px;
    height: 600px;
    color: #000000;
    background: #dfdada;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    border-radius: 5%;

}



.H_container .H_box1 h1{
    position: relative;
    width: 500px;
    height: 60px;
    color: #000000;
    background: #c0c3c9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    border-radius: 10%;
    

}

.H_container .H_box1 .H_content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    
}

.H_container .H_box1 h1{
    font-size: 2em;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 50px;
    
}



.H_container .H_box1 h1:hover{
    transform: translateY(-20px);
} 


