/* body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
} */


.banner .nav li a {
  color: #aaa;
  font-size: 1.2em;
}

.text-center{
  font-size: 1.5em;
  color: #464646;
  margin-left: 1px ;
  margin-right: 26px;

}
.info a {
  margin-left: 570px;
  color: #ffffff;
  background: #00b7ff;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.info a:hover {
  background: #002c8a;
}

.home_logo{
  margin-top: 50px;
  margin-left: 450px;
}
.info{
  margin-left: 100px;
  
}

.info .info-admin{
  align-items: center;
  position: absolute;
  margin-left: 588px;
  margin-top: 5px;
}