.r-body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.r-table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
.table.r-table tr th, table.r-table tr td {
    border-color: #e9e9e9;
}
table.r-table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.r-table th:last-child {
    width: 100px;
}
table.r-table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.r-table td a.add {
    color: #27C46B;
}
table.r-table td a.edit {
    color: #FFC107;
}
table.r-table td a.delete {
    color: #E34724;
}
table.r-table td i {
    font-size: 19px;
}
table.r-table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.r-table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.r-table .form-control.error {
    border-color: #f50000;
}
table.r-table td .add {
    display: none;
}